@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.banner {
position: static;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;
flex: none;
order: 0;
flex-grow: 0;
border-radius: 24px;
background: rgb(198, 228, 214);
  }
  
  .banner-content {
    width: 50%; 
    margin: 0 auto;
  }
  
  .banner-title {
position: static;
width: 622px;
height: 28px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
color: rgba(14, 14, 14, 0.5);
font-family: "Fira Sans", serif;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
  }
  
  .banner-text {
position: static;
width: 622px;
height: 201px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
color: rgb(14, 14, 14);
font-family:  "Fira Sans", serif;
font-size: 58px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
  }
  
  .explore-button {
    position: static;
    width: 270px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);

    color: rgb(255, 255, 255);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;


    

  }

  .banner-image {
    width: 50%; 
    height: auto;
    margin-top: 30px;
  }

  .vision {
    background-color: #f4f4f4; 
    padding: 30px 0;
  }
  
  .vision-title {
position: static;
width: 1280px;
height: 48px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(14, 14, 14);
font-family: "Fira Sans", serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
  }

  .vision-desc{
position: static;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.7);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  
  .vision-container {
    display: flex;
    justify-content: space-between;
    max-width: auto;
    margin: 30px auto;
  }
  
  .vision-card-1 {
position: static;
width: 410.67px;
height: 325px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;
flex: none;
order: 0;
flex-grow: 1;

box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
  }

  .vision-card-2 {
    position: static;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
      }
    
      .vision-card-3 {
    position: static;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    flex: none;
    order: 0;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
      }

  .card-title{
position: static;
width: 346.67px;
height: 24px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;

color: rgba(14, 14, 14, 0.8);
font-family: "Fira Sans", serif;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }

  .card-dec{
position: static;
width: 346.67px;
height: 72px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  
  .section-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .section-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .section-card p {
    font-size: 16px;
  }
  
  .learn-more-button-1 {
position: static;
width: 122px;
height: 41px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
flex: none;
order: 2;
flex-grow: 0;
margin: 24px 0px;
border-radius: 8px;
background: rgb(84, 144, 245);
color: rgb(255, 255, 255);
font-family: "Fira Sans", serif;
font-size: 14px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
  }

  .learn-more-button-2 {
    position: static;
    width: 122px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
      }
    
      .learn-more-button-3 {
        position: static;
        width: 122px;
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 48;
        padding: 11px 20px 11px 20px;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 24px 0px;
        border-radius: 8px;
        background: rgb(255, 194, 57);
        color: rgb(255, 255, 255);
        font-family: "Fira Sans", serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        cursor: pointer;
          }




          .recent-news {
            background-color: #f4f4f4; 
            padding: 10px 0;
          }
      
.recent-news-title {
position: static;
width: 1280px;
height: 48px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgb(14, 14, 14);
font-family: "Fira Sans", serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
          }
.recent-news-desc{
position: static;
width: auto;
height: 48px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 15px 0px;
color: rgba(14, 14, 14, 0.7);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
      
          .news-item {
position: static;
width: auto;
height: 402px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 48px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
border-radius: 24px;
background: rgb(255, 255, 255);
          }

          .news-item-2 {
            position: static;
            width: auto;
            height: 402px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 32;
            padding: 48px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            margin: 24px 0px;
            border-radius: 24px;
            background: rgb(255, 255, 255);
            flex-direction: row-reverse; 
                      }
            

.news-title{
position: static;
width: 744px;
height: 38px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.8);
font-family: "Fira Sans", serif;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
      
.satelite-image {
position: static;
width: 408px;
height: 306px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
border-radius: 24px;

background: url(image);
          }
      
          .news-details {
            flex: 1;
            padding-left: 20px;
          }
      
          .news-source img {
position: static;
width: 134px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 5px;
background: url(8f195aac6f4a2c38bbf72c1fbeddbf9b);
          }
      
          .news-date-time {
            font-size: 14px;
            color: #888;
            font-family: "Fira Sans", serif;
          }
      
          .news-content {
position: static;
width: auto;
height: 72px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.7);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
          }
      
          .read-more-button {
position: static;
width: 139px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 13px 26px 13px 26px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
          }  
          
          

          .donation-section {
position: static;
width: auto;
height: 560px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 4;
flex-grow: 0;
background-color: #f4f4f4; 
          }
      
          .donation-title {
position: static;
width: auto;
height: 48px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
color: rgb(14, 14, 14);
font-family: "Fira Sans", serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
          }
      
          .donation-description {
position: static;
width: 1104px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 24;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
color: rgba(14, 14, 14, 0.7);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
          }
      
          .donation-options {
            display: flex;
            justify-content: center;
            margin: 20px;
          }
      
          .donation-option {
position: static;
width: 240px;
height: 128px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 40px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: "Fira Sans", serif;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
          }

#odd-one{
background: rgb(198, 228, 214);
}
      
          .donation-option:hover {
            background-color: #d0d0d0;
          }
      
          .other-amount {
position: static;
width: 1032px;
height: 64px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 20px 40px 20px 40px;
flex: none;
order: 2;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.3);
font-family: "Fira Sans", serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
          }
      
          .donate-button {
            position: static;
width: 139px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 13px 26px 13px 26px;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: "Fira Sans", serif;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
          }